a{text-decoration: none; color: #000;}

nav{
    background: #a0cdff;
    padding: 20px 0;
}
nav>ul{
    display: flex;
}
nav>ul>li{position: relative;}
nav>ul>li>a{
    color: #fff;
    padding: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
nav>ul>li>ul{
    display: none;
    position: absolute;
    top: 36px;
    width: 100%;
    background: #ffdea0;
}
nav>ul:hover>li>ul{
    display: block;
    text-align: center;
}
nav>ul>li>ul>li{
    transition: .5s;
}
nav>ul>li>ul>li:hover{background: #9e9e9e;}
nav>ul>li>ul>li>a{
    display: block;
    padding: 20px;
}
nav>ul>li>ul>li:hover>a{
    color: #fff;
}