*{margin: 0; padding: 0;}

/* a{color: black; text-decoration: none;}
ul{list-style: none;}

nav{
    background: #9edbff;
    width: 100%;
    height: 40px;
}
nav>ul{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav>ul>li{
    position: relative;
}
nav>ul>li>a{
    padding: 10px 20px;
    color: #fff;
}
nav>ul>li>ul{
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    background: #fff1d4;
    width: 100%;
}
nav>ul>li:hover>ul{display: block;}
nav>ul>li>ul>li{
    height: 30px;
    line-height: 30px;
    text-align: center;
}
nav>ul>li>ul>li:hover{
    background: #bdbdbd;
}
nav>ul>li>ul>li>a{} */

ul{list-style: none;}
a{text-decoration: none;}
nav{
    background: #83c7ff;
    width: 100%;
    height: 40px;
}
nav>ul{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav>ul>li{
    position: relative;
}
nav>ul>li>a{
    color: #fff;
    padding: 10px 20px;
}
nav>ul>li>ul{
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    background: #ffd883;
    width: 100%;
    text-align: center;
}
nav>ul>li:hover>ul{
    display: block;
}
nav>ul>li>ul>li{
    height: 30px;
    line-height: 30px;
}
nav>ul>li>ul>li:hover{
    background: #b3b3b3;
}
nav>ul>li>ul>li>a{
    display: block;
    color: black;
}