/* a{text-decoration: none; color: #000}
header{width: 300px; height: 100vh; border-right: 1px solid #ddd;}
h1{text-align: center;}
h1 a{
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    display: block;
}
nav{margin-top: 50px;}
nav>ul{
    border-top: 1px solid #ddd;
}
nav>ul>li{
    border-bottom: 1px solid #ddd;
    text-align: center;
}
nav>ul>li:hover{
    background: rgb(122, 175, 255);
}
nav>ul>li>a{
    display: block;
    padding: 20px;
}
nav>ul>li>ul{
    display: none;
}
nav>ul>li:hover>ul{
    display: block;
    background: #ddd;
}
nav>ul>li>ul>li{
    transition: .3s;
}
nav>ul>li>ul>li:hover{
    background: #000;
}
nav>ul>li>ul>li:hover a{
    color: #fff;
}
nav>ul>li>ul>li>a{
    display: block;
    padding: 20px;
} */


a{text-decoration: none; color: #000;}
header{width: 300px; height: 100vh; border-right: 1px solid #ddd;}
header>h1{ text-align: center;}
header>h1>a{
    font-size: 30px;
    font-weight: bold;
    display: block;
    padding: 20px;
}
header>nav{margin-top: 50px;}
header>nav>ul{
    border-top: 1px solid #ddd;
}
header>nav>ul>li{
    border-bottom: 1px solid #ddd;
    text-align: center;
}
header>nav>ul>li:hover{
    background: #8794b8;
}
header>nav>ul>li>a{
    display: block;
    padding: 20px;
}
header>nav>ul>li>ul{display: none;}
header>nav>ul>li:hover>ul{
    display: block;
    background: #ddd;
}
header>nav>ul>li>ul>li{}
header>nav>ul>li>ul>li:hover>a{
    background: #000;
    color: #fff;
}
header>nav>ul>li>ul>li>a{
    display: block;
    padding: 20px;
}