/* nav{
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ddd;
    height: 80px;
}
nav .bg{
    width: 100%;
    height: 240px;
    background: #b6e270;
    position: absolute;
    top: 80px;
    display: none;
}
nav:hover .bg{
    display: block;
}
nav>ul{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
nav>ul>li{
    width: 130px;text-align: center;
}
nav>ul>li>a{
    text-decoration: none;
    color: #333;
    transition: .3s;
    display: block;
    padding: 10px 20px;
}
nav>ul>li:hover>a{
    color: #ff7979;
}
nav>ul>li>ul{
    display: none; position: absolute;
    top: 80px;
    width: 130px;
}
nav:hover>ul>li>ul{display: block;}
nav>ul>li>ul>li{
    text-align: center;
}
nav>ul>li>ul>li>a{
    display: block;
    padding: 20px 0;
    text-decoration: none;
    color: #fff;
}
nav>ul>li>ul>li>a:hover{
    text-decoration: underline;
} */

/* nav{
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ddd;
    height: 80px;
}
nav .bg{
    width: 100%;
    height: 240px;
    background: #bff854;
    position: absolute;
    top: 80px;
    display: none;
}
nav:hover .bg{display: block;}
nav>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
nav>ul>li{width: 130px; text-align: center;}
nav>ul>li>a{
    text-decoration: none;
    color: #666;
    padding: 20px;
}
nav>ul>li:hover>a{color: #ff7a7a;}
nav>ul>li>ul{display: none; position: absolute;
    top: 80px; width: 130px;
}
nav:hover>ul>li>ul{
    display: block; 
}
nav>ul>li>ul>li{text-align: center;}
nav>ul>li>ul>li>a{
    display: block;
    padding: 20px;
    text-decoration: none; color: #fff;
}
nav>ul>li>ul>li>a:hover{
    text-decoration: underline;
} */

nav{
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}
nav .bg{
    background: #5d7eda;
    width: 100%;
    height: 240px;
    position: absolute;
    top: 80px;
    display: none;
}
nav:hover .bg{display: block;}
nav>ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav>ul>li{width: 130px;}
nav>ul>li>a{
    text-decoration: none; color: #666;
    padding: 20px;
}
nav>ul>li:hover>a{
    color: #f06d6d;
}
nav>ul>li>ul{
    display: none;
    position: absolute;
}
nav:hover>ul>li>ul{display: block;}
nav>ul>li>ul>li{}
nav>ul>li>ul>li>a{
    display: block;
    text-decoration: none; color: #fff;
}
nav>ul>li>ul>li>a:hover{
    text-decoration: underline;
}