a{
    text-decoration: none;
    color: #000;
}
#wrap{width: 100%; height: 100%;}
header{
    width: 300px;
    height: 100vh;
    text-align: center;
    border-right: 1px solid #ddd;
}
header>h1{
    font-size: 30px;
    padding: 30px 0;
    font-weight: bold;
    text-transform: uppercase;
}
header>nav{
    border-top: 1px solid #ddd;
    margin-top: 50px;
}
header>nav>ul{}
header>nav>ul>li{
    border-bottom: 1px solid #ddd;
    padding: 20px;
    position: relative;
}
header>nav>ul>li>a{}
header>nav>ul>li>ul{
    display: none;
    position: absolute;
    top: 0;
    left: 301px;
}
header>nav>ul>li:hover>ul{
    display: block;
    width: 300px;
    background: #bbe3ff;
}
header>nav>ul>li>ul>li{}
header>nav>ul>li>ul>li>a{
    display: block;
    padding: 5px;
}