/* *{box-sizing: border-box;}
a{text-decoration: none; color: #000}
#wrap{}
#header{
    width: 100%;
    padding: 0 50px;
    height: 100px;
    background: rgba(255,255,255,.6);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav{}
#nav>ul{
    display: flex;
}
#nav>ul>li{
    width: 150px;
    text-align: center;
}
#nav>ul>li>a{
    font-size: 24px;
    font-weight: bold;
    padding: 35px 20px;
}

#nav>ul>li:nth-child(1)>a{ color: red;}
#nav>ul>li:nth-child(2)>a{ color: rgb(141, 4, 168);}
#nav>ul>li:nth-child(3)>a{ color: rgb(2, 211, 65);}
#nav>ul>li:nth-child(4)>a{ color: rgb(17, 114, 240);}
#nav>ul>li:nth-child(5)>a{ color: rgb(241, 152, 19);}

#nav .bg{
    width: 100%; 
    height: 0px;
    transition: height .3s;
    background: #0d5ee9;
    position: absolute;
    top: 100px;
    left: 0;
}
#nav:hover .bg{
    height: 216px;
}
#nav>ul>li>ul{
    position: absolute;
    top: 100px;
    width: 150px;
    height: 0;
    overflow: hidden;
    transition: height .3s;
}
#nav:hover>ul>li>ul{
    height: 216px;
}
#nav>ul>li:hover>ul{
    background: rgba(255, 255, 255, .3);
    height: 216px;
}
#nav>ul>li>ul>li{
    position: relative;
}
#nav>ul>li>ul>li::after{
    content: "";
    position: absolute;
    width: 0px;
    left: 50%; bottom: 0;
    height: 1px;
    background: #fff;
    transition: .3s;
}

#nav>ul>li>ul>li:hover:after{
    width: 100%;
    left: 0;
}
#nav>ul>li>ul>li>a{
    padding: 10px 0;
    display: block;
    font-weight: 700;
    color: #fff;

}

.searchbox{
    background: #0d5ee9 url(../image/totalsearch_ico.png) no-repeat right 20px center;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.searchbox input{
    background: none;
    border: none;
    color: #fff;
}
.searchbox input:focus{
    outline: none;
}

.mainSlide{
    width: 100%;
    height: 800px;
    background: url(../image/bg.jpg) no-repeat center center/cover;
}
#content{
    width: 100%;
    height: 800px;
    background:#f00;
}
#footer{
    width: 100%;
    height: 100px;
    background: #000;
} */

*{box-sizing: border-box;}
a{text-decoration: none; color: #000;}
#wrap{}

#header{
    width: 100%;
    height: 100px;
    background: rgba(255, 255, 255, .5);
    padding: 0 50px;
    position: fixed;
    top: 0; left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#header h1{}
#header h1>a{}

#nav{}
#nav>ul{
    display: flex;
}
#nav>ul>li{
    width: 150px;
    text-align: center;
}
#nav>ul>li>a{
    font-size: 24px;
    font-weight: bold;
}
#nav>ul>li:nth-child(1)>a{color: #941d1d;}
#nav>ul>li:nth-child(2)>a{color: #8b1578;}
#nav>ul>li:nth-child(3)>a{color: #0e720e;}
#nav>ul>li:nth-child(4)>a{color: #15247e;}
#nav>ul>li:nth-child(5)>a{color: #6d4508;}
#nav>ul>li>ul{}
#nav>ul>li>ul>li{}
#nav>ul>li>ul>li>a{}
.searchbox{
    background: #15247e url(../image/totalsearch_ico.png) no-repeat right 20px center;
    width: 300px;
    height: 50px;
    display: flex;
    border-radius: 30px;
    align-items: center;
    padding-left: 20px;
}
.searchbox input{
    background: none;
    border: none;
    color: #fff;
}
.searchbox input:focus{ outline: none;}

.mainSlide{
    background: url(../image/bg.jpg) no-repeat center center/cover;
    width: 100%;
    height: 800px;
}

#content{
    width: 100%;
    height: 800px;
    background: #999;
}

#footer{
    height: 100px;
    width: 100%;
    background: #000;
}