*{margin: 0; padding: 0; border: 0;}
#wrap{
    border: 5px solid;
    width: 600px;
    height: 800px;
    margin: 50px auto;
    text-align: center;
    font-size: 30px;
}
header{
    border: 5px solid;
    width: 550px;
    height: 140px;
    margin: 20px auto;
}
nav{
    border: 5px solid;
    width: 500px;
    height: 60px;
    margin: 15px auto;
}
article{
    border: 5px solid;
    width: 550px;
    height: 460px;
    margin: 20px auto;
}
figure{
    border: 5px solid;
    width: 500px;
    height: 100px;
    margin: 20px auto;
}
footer{
    border: 5px solid;
    width: 550px;
    height: 80px;
    margin: 20px auto;
}
ul{
    list-style: none;
}
.navul ul li{
    background-color: aqua;
    width: 50px;
}